@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tektur/v1/XoHN2YHtS7q969kXCjzlV0aSkS_o8OacmTe0TYlYFot8TrwcVYtO.ttf) format('truetype');
}
.card_main_container {
  font-family: "Tektur", cursive;
}
.card_main_container .card_container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  padding: 4vw;
}
.card_main_container .page_ctrl_btns {
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
}
.card_main_container .page_ctrl_btns div {
  padding: 10px;
  margin-right: 1vw;
  border-radius: 10px;
  background-color: #ff3d00;
  color: #fefefe;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card_main_container .page_ctrl_btns div:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.card_main_container .page_ctrl_btns div:last-child {
  margin-right: 0;
}
.card_main_container .toBottom_btn {
  position: fixed;
  width: 3vw;
  height: 3vw;
  bottom: 1vw;
  right: 1vw;
  font-size: 3vw;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff3d00;
  color: #fefefe;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card_main_container .toBottom_btn:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
