.card_main_container {
  .card_container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    padding: 4vw;
  }
  .page_ctrl_btns {
    display: flex;
    justify-content: center;
    div {
      padding: 10px;
      border: 1px solid #000;
      cursor: pointer;
    }
  }
}
