@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap");

.pokemonCard {
  width: 15vw;
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  .pokemonCard_image {
    width: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .card_content {
    background-color: rgba(0, 0, 0, 0.8);
    .pokemonCard_id {
      text-align: center;
      font-size: 1.5vw;
      font-weight: 600;
      margin-bottom: 5px;
      color: #f8f8f8;
    }
    .pokemonCard_name {
      text-align: center;
      font-family: "Tektur", cursive;
      font-size: 1.5vw;
      margin-bottom: 5px;
      color: #f8f8f8;
    }
    .pokemonCard_types {
      display: flex;
      justify-content: center;
      margin-bottom: 1vw;
      .pokemonCard_type {
        padding: 5px;
        border-radius: 5px;
        margin-right: 5px;
        color: #f8f8f8;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
